Common/WsConnection/WsConnection/Web References/WebRefK01/WsK01.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://smssrv/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://smssrv/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">出荷管理システム</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://smssrv/">
      <s:element name="GetShukaData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cond" type="tns:CondK01" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CondK01">
        <s:complexContent mixed="false">
          <s:extension base="tns:CondBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ShukkaFlag" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NonyusakiName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Ship" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Seiban" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NounyusakiCD" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplaySelect" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ARNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OperationFlag" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdatePCName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CondBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LoginInfo" type="tns:LoginInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateDate" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateDate" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MainteDate" />
          <s:element minOccurs="0" maxOccurs="1" name="MainteUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MainteUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LoginInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PcName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetShukaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetShukaDataResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="errorMsgID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kanriNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdMeisai">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cond" type="tns:CondK01" />
            <s:element minOccurs="0" maxOccurs="1" name="dtTagNo">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdMeisaiResponse">
        <s:complexType />
      </s:element>
      <s:element name="LockUnLock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cond" type="tns:CondK01" />
            <s:element minOccurs="1" maxOccurs="1" name="ret" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockUnLockResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendCondBase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cond" type="tns:CondBase" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCondBaseResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetShukaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetShukaData" />
  </wsdl:message>
  <wsdl:message name="GetShukaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetShukaDataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdMeisaiSoapIn">
    <wsdl:part name="parameters" element="tns:UpdMeisai" />
  </wsdl:message>
  <wsdl:message name="UpdMeisaiSoapOut">
    <wsdl:part name="parameters" element="tns:UpdMeisaiResponse" />
  </wsdl:message>
  <wsdl:message name="LockUnLockSoapIn">
    <wsdl:part name="parameters" element="tns:LockUnLock" />
  </wsdl:message>
  <wsdl:message name="LockUnLockSoapOut">
    <wsdl:part name="parameters" element="tns:LockUnLockResponse" />
  </wsdl:message>
  <wsdl:message name="SendCondBaseSoapIn">
    <wsdl:part name="parameters" element="tns:SendCondBase" />
  </wsdl:message>
  <wsdl:message name="SendCondBaseSoapOut">
    <wsdl:part name="parameters" element="tns:SendCondBaseResponse" />
  </wsdl:message>
  <wsdl:portType name="WsK01Soap">
    <wsdl:operation name="GetShukaData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">チェック・検索を行い、出荷データを取得します</wsdl:documentation>
      <wsdl:input message="tns:GetShukaDataSoapIn" />
      <wsdl:output message="tns:GetShukaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdMeisai">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">発行日付をアップデートします。</wsdl:documentation>
      <wsdl:input message="tns:UpdMeisaiSoapIn" />
      <wsdl:output message="tns:UpdMeisaiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LockUnLock">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ロック/解除</wsdl:documentation>
      <wsdl:input message="tns:LockUnLockSoapIn" />
      <wsdl:output message="tns:LockUnLockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCondBase">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">各WebサービスのCondBaseをクライアントで使用できるように定義する為のメソッド</wsdl:documentation>
      <wsdl:input message="tns:SendCondBaseSoapIn" />
      <wsdl:output message="tns:SendCondBaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsK01Soap" type="tns:WsK01Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShukaData">
      <soap:operation soapAction="http://smssrv/GetShukaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdMeisai">
      <soap:operation soapAction="http://smssrv/UpdMeisai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockUnLock">
      <soap:operation soapAction="http://smssrv/LockUnLock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCondBase">
      <soap:operation soapAction="http://smssrv/SendCondBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsK01Soap12" type="tns:WsK01Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShukaData">
      <soap12:operation soapAction="http://smssrv/GetShukaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdMeisai">
      <soap12:operation soapAction="http://smssrv/UpdMeisai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockUnLock">
      <soap12:operation soapAction="http://smssrv/LockUnLock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCondBase">
      <soap12:operation soapAction="http://smssrv/SendCondBase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsK01">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">出荷管理システム</wsdl:documentation>
    <wsdl:port name="WsK01Soap" binding="tns:WsK01Soap">
      <soap:address location="http://smssrv/sms/WsK01.asmx" />
    </wsdl:port>
    <wsdl:port name="WsK01Soap12" binding="tns:WsK01Soap12">
      <soap12:address location="http://smssrv/sms/WsK01.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>