Common/WsConnection/WsConnection/Web References/WebRefK04/WsK04.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://smssrv/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://smssrv/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">出荷管理システム</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://smssrv/">
      <s:element name="GetTempwork">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cond" type="tns:CondK04" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CondK04">
        <s:complexContent mixed="false">
          <s:extension base="tns:CondBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TempID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TorikomiFlag" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StatusFlag" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TorikomiDate" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorNum" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="BoxNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PalletNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ShukkaFlag" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NonyusakiCD" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TehaiNo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="NyukaQty" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="HandyOpeFlag" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DateFrom" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DateTo" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="HandyLoginID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Ship" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ARNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TagNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProjectNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BukkenNo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="HoryuRetry" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CondBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LoginInfo" type="tns:LoginInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateDate" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateDate" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MainteDate" />
          <s:element minOccurs="0" maxOccurs="1" name="MainteUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MainteUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LoginInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PcName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTempworkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTempworkResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cond" type="tns:CondK04" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dtMessage">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImportDataResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dtMessage">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportRetry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cond" type="tns:CondK04" />
            <s:element minOccurs="0" maxOccurs="1" name="dtMessage">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportRetryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImportRetryResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dtMessage">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DestroyData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cond" type="tns:CondK04" />
            <s:element minOccurs="0" maxOccurs="1" name="dtMessage">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DestroyDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DestroyDataResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dtMessage">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTempworkMeisai">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cond" type="tns:CondK04" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTempworkMeisaiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTempworkMeisaiResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTempworkMeisaiKenpin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cond" type="tns:CondK04" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTempworkMeisaiKenpinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTempworkMeisaiKenpinResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportRetryKenpin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cond" type="tns:CondK04" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dtMessage">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportRetryKenpinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImportRetryKenpinResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dtMessage">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInitHandyOpeRirekiShokai">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cond" type="tns:CondK04" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInitHandyOpeRirekiShokaiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInitHandyOpeRirekiShokaiResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHandyOpeRireki">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cond" type="tns:CondK04" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHandyOpeRirekiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHandyOpeRirekiResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCondBase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cond" type="tns:CondBase" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCondBaseResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTempworkSoapIn">
    <wsdl:part name="parameters" element="tns:GetTempwork" />
  </wsdl:message>
  <wsdl:message name="GetTempworkSoapOut">
    <wsdl:part name="parameters" element="tns:GetTempworkResponse" />
  </wsdl:message>
  <wsdl:message name="ImportDataSoapIn">
    <wsdl:part name="parameters" element="tns:ImportData" />
  </wsdl:message>
  <wsdl:message name="ImportDataSoapOut">
    <wsdl:part name="parameters" element="tns:ImportDataResponse" />
  </wsdl:message>
  <wsdl:message name="ImportRetrySoapIn">
    <wsdl:part name="parameters" element="tns:ImportRetry" />
  </wsdl:message>
  <wsdl:message name="ImportRetrySoapOut">
    <wsdl:part name="parameters" element="tns:ImportRetryResponse" />
  </wsdl:message>
  <wsdl:message name="DestroyDataSoapIn">
    <wsdl:part name="parameters" element="tns:DestroyData" />
  </wsdl:message>
  <wsdl:message name="DestroyDataSoapOut">
    <wsdl:part name="parameters" element="tns:DestroyDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetTempworkMeisaiSoapIn">
    <wsdl:part name="parameters" element="tns:GetTempworkMeisai" />
  </wsdl:message>
  <wsdl:message name="GetTempworkMeisaiSoapOut">
    <wsdl:part name="parameters" element="tns:GetTempworkMeisaiResponse" />
  </wsdl:message>
  <wsdl:message name="GetTempworkMeisaiKenpinSoapIn">
    <wsdl:part name="parameters" element="tns:GetTempworkMeisaiKenpin" />
  </wsdl:message>
  <wsdl:message name="GetTempworkMeisaiKenpinSoapOut">
    <wsdl:part name="parameters" element="tns:GetTempworkMeisaiKenpinResponse" />
  </wsdl:message>
  <wsdl:message name="ImportRetryKenpinSoapIn">
    <wsdl:part name="parameters" element="tns:ImportRetryKenpin" />
  </wsdl:message>
  <wsdl:message name="ImportRetryKenpinSoapOut">
    <wsdl:part name="parameters" element="tns:ImportRetryKenpinResponse" />
  </wsdl:message>
  <wsdl:message name="GetInitHandyOpeRirekiShokaiSoapIn">
    <wsdl:part name="parameters" element="tns:GetInitHandyOpeRirekiShokai" />
  </wsdl:message>
  <wsdl:message name="GetInitHandyOpeRirekiShokaiSoapOut">
    <wsdl:part name="parameters" element="tns:GetInitHandyOpeRirekiShokaiResponse" />
  </wsdl:message>
  <wsdl:message name="GetHandyOpeRirekiSoapIn">
    <wsdl:part name="parameters" element="tns:GetHandyOpeRireki" />
  </wsdl:message>
  <wsdl:message name="GetHandyOpeRirekiSoapOut">
    <wsdl:part name="parameters" element="tns:GetHandyOpeRirekiResponse" />
  </wsdl:message>
  <wsdl:message name="SendCondBaseSoapIn">
    <wsdl:part name="parameters" element="tns:SendCondBase" />
  </wsdl:message>
  <wsdl:message name="SendCondBaseSoapOut">
    <wsdl:part name="parameters" element="tns:SendCondBaseResponse" />
  </wsdl:message>
  <wsdl:portType name="WsK04Soap">
    <wsdl:operation name="GetTempwork">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">一時取込データ取得</wsdl:documentation>
      <wsdl:input message="tns:GetTempworkSoapIn" />
      <wsdl:output message="tns:GetTempworkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ハンディデータ取込</wsdl:documentation>
      <wsdl:input message="tns:ImportDataSoapIn" />
      <wsdl:output message="tns:ImportDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportRetry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ハンディデータ取込再試行</wsdl:documentation>
      <wsdl:input message="tns:ImportRetrySoapIn" />
      <wsdl:output message="tns:ImportRetrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DestroyData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ハンディデータ破棄</wsdl:documentation>
      <wsdl:input message="tns:DestroyDataSoapIn" />
      <wsdl:output message="tns:DestroyDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTempworkMeisai">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">一時取込明細データ取得</wsdl:documentation>
      <wsdl:input message="tns:GetTempworkMeisaiSoapIn" />
      <wsdl:output message="tns:GetTempworkMeisaiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTempworkMeisaiKenpin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">一時取込明細データ(検品)取得</wsdl:documentation>
      <wsdl:input message="tns:GetTempworkMeisaiKenpinSoapIn" />
      <wsdl:output message="tns:GetTempworkMeisaiKenpinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportRetryKenpin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">OK分の検品データ取込を再試行する</wsdl:documentation>
      <wsdl:input message="tns:ImportRetryKenpinSoapIn" />
      <wsdl:output message="tns:ImportRetryKenpinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInitHandyOpeRirekiShokai">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">初期化データ取得</wsdl:documentation>
      <wsdl:input message="tns:GetInitHandyOpeRirekiShokaiSoapIn" />
      <wsdl:output message="tns:GetInitHandyOpeRirekiShokaiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHandyOpeRireki">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">表示データ取得</wsdl:documentation>
      <wsdl:input message="tns:GetHandyOpeRirekiSoapIn" />
      <wsdl:output message="tns:GetHandyOpeRirekiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCondBase">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">各WebサービスのCondBaseをクライアントで使用できるように定義する為のメソッド</wsdl:documentation>
      <wsdl:input message="tns:SendCondBaseSoapIn" />
      <wsdl:output message="tns:SendCondBaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsK04Soap" type="tns:WsK04Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTempwork">
      <soap:operation soapAction="http://smssrv/GetTempwork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportData">
      <soap:operation soapAction="http://smssrv/ImportData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportRetry">
      <soap:operation soapAction="http://smssrv/ImportRetry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestroyData">
      <soap:operation soapAction="http://smssrv/DestroyData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTempworkMeisai">
      <soap:operation soapAction="http://smssrv/GetTempworkMeisai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTempworkMeisaiKenpin">
      <soap:operation soapAction="http://smssrv/GetTempworkMeisaiKenpin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportRetryKenpin">
      <soap:operation soapAction="http://smssrv/ImportRetryKenpin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInitHandyOpeRirekiShokai">
      <soap:operation soapAction="http://smssrv/GetInitHandyOpeRirekiShokai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHandyOpeRireki">
      <soap:operation soapAction="http://smssrv/GetHandyOpeRireki" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCondBase">
      <soap:operation soapAction="http://smssrv/SendCondBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsK04Soap12" type="tns:WsK04Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTempwork">
      <soap12:operation soapAction="http://smssrv/GetTempwork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportData">
      <soap12:operation soapAction="http://smssrv/ImportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportRetry">
      <soap12:operation soapAction="http://smssrv/ImportRetry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestroyData">
      <soap12:operation soapAction="http://smssrv/DestroyData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTempworkMeisai">
      <soap12:operation soapAction="http://smssrv/GetTempworkMeisai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTempworkMeisaiKenpin">
      <soap12:operation soapAction="http://smssrv/GetTempworkMeisaiKenpin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportRetryKenpin">
      <soap12:operation soapAction="http://smssrv/ImportRetryKenpin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInitHandyOpeRirekiShokai">
      <soap12:operation soapAction="http://smssrv/GetInitHandyOpeRirekiShokai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHandyOpeRireki">
      <soap12:operation soapAction="http://smssrv/GetHandyOpeRireki" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCondBase">
      <soap12:operation soapAction="http://smssrv/SendCondBase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsK04">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">出荷管理システム</wsdl:documentation>
    <wsdl:port name="WsK04Soap" binding="tns:WsK04Soap">
      <soap:address location="http://smssrv/sms/WsK04.asmx" />
    </wsdl:port>
    <wsdl:port name="WsK04Soap12" binding="tns:WsK04Soap12">
      <soap12:address location="http://smssrv/sms/WsK04.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>