Common/WsConnection/WsConnection/Service References/WebRefAttachFile/WsAttachFile1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://smssrv" elementFormDefault="qualified" targetNamespace="http://smssrv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://adv1908v001/sms/WsAttachFile.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="ARHelpDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ARHelpDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ARHelpDownloadResult" nillable="true" type="q1:ARHelpDownloadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="package" nillable="true" type="q2:FileDeletePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FileDeleteResult" nillable="true" type="q3:FileDeleteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="package" nillable="true" type="q4:FileUploadPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FileUploadResult" nillable="true" type="q5:FileUploadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="package" nillable="true" type="q6:FileDownloadPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FileDownloadResult" nillable="true" type="q7:FileDownloadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>